@import '~assets/partial';

.contentContainer {
  .goBackTitle {
    margin-bottom: 24px;
  }

  .commonKeyValueText {
    margin-bottom: 8px;
  }

  .submitButton {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background: $march-blue;
    width: 280px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .requestBtn {
    width: 200px;
    margin: 0px auto;
  }
}
