@import '~assets/partial';
.contentsContainer {
  position: relative;
  background-color: white;
  min-width: initial;
  padding: 40px;
  .closeBtn {
    font-size: 24px;
    cursor: pointer;
    @include pos-abs(40px, 40px, initial, initial);
  }
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .inputWrapper {
    margin-bottom: 20px;
    input,
    div {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .radioButton {
      label {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
  .errorMessage {
    margin-bottom: 30px;
    div {
      color: red;
    }
  }
}