@import '~common/asset/partial';
.contentsContainer {
  position: relative;
  background-color: white;
  min-width: initial;
  .titleSection {
    position: relative;
    .title {
      font-size: 24px;
      font-weight:bold;
    }
    .addBtn {
      @include pos-abs(0px, 0px, initial, initial);
    }
  }
  table {
    width: 100%;
    margin-top: 30px;
    .headerRow {
      th {
        padding: 5px 10px;
        text-align: left;
        border-bottom: 1px solid #c3c3c3;
        @include set-font(12px, #c3c3c3, $fontweight-regular);
      }
    }
    .inputRow {
      padding: 8px 0px;
      border-bottom: 1px solid #c3c3c3;
      text-align: left;
      td {
        padding: 5px 10px;
        @include set-font(14px, $rayon-black);
      }
      input {
        width: 100%;
        outline: 0;
        border: 0;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }
  .removeBtn {
    text-align: center;
    div {
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .dataSaveBtn {
    margin: 20px auto 0px;
    text-align: center;
  }
}

.confirmButton {
  margin: 20px auto 0px;
}
