@import '~common/asset/partial';
.contentContainer {
  .titleSection {
    position: relative;
    margin-bottom: 24px;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .registerBtn {
      @include pos-abs(0px, 0px, initial, initial);
    }
  }
  .emptyNote {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
  }
  .reverseInquiryTable {
    width: 100%;
    text-align: left;
    .contentRow {
      border-top: 1px solid $rayon-lightgray;
      &:last-child {
        border-bottom: 1px solid $rayon-lightgray;
      }
      p {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        @include set-font(16px, $rayon-black);
      }
      .contentNumber {
        width: 10%;
      }
      .contentTitle {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .timeColumn {
        text-align: right;
        padding-bottom: 5px;
        font-size: 14px;
      }
    }
  }

  .contentsTitle {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .buttonWrap {
    margin-bottom: 30px;
    margin-right: 70px;
    text-align: right;
  }
}
