@import '~common/asset/partial';

.contentContainer {
  .goBackTitle {
    margin-bottom: 24px;
    font-weight: $fontweight-bold;
  }

  .commonKeyValueText {
    margin-bottom: 8px;
  }

  .requestBtn {
    width: 200px;
    margin: 0px auto;
  }
}
