@import '~common/asset/partial';

.note {
  margin-bottom: 30px;
  .noticeTitle {
    margin-bottom: 24px;
  }
  p {
    @include set-font(12px, $rayon-deepgray);
  }
}
.FinanceTag {
  margin-top: 10px;
}

.buttonWrap {
  margin: 20px auto 0px;
  text-align: center;
}
