@import '~common/asset/partial';
.contentContainer {
  .titleSection {
    position: relative;
    margin-bottom: 24px;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .emptyNote {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    &.borrower {
      color: $rayon-darklake;
    }
    &.lender {
      color: $rayon-darkberry;
    }
  }
  .contentTable {
    width: 100%;
    .contentRow {
      padding: 8px 0px;
      border-top: 1px solid $rayon-lightgray;
      &:last-child {
        border-bottom: 1px solid $rayon-lightgray;
      }
      p {
        display: inline-block;
        @include set-font(16px, $rayon-black);
      }
      .rightSection {
        width: 90%;
        display: inline-block;
      }
      .contentsTitle {
        cursor: pointer;
      }
      .contentNumber {
        display: inline-block;
        vertical-align: top;
        width: 10%;
      }
      .bottomSection {
        @include clearfix();
        .tag {
          float: left;
          @include set-font(16px, $rayon-berry, $fontweight-bold);
        }
        .timeColumn {
          float: right;
          font-size: 14px;
        }
      }
    }
  }
}
