@import '~assets/partial';
.contentContainer {
  .titleSection {
    position: relative;
    margin-bottom: 24px;
    .title {
      font-size: 24px;
    }
  }
  .emptyNote {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    &.borrower {
      color: #046d86;
    }
    &.lender {
      color: #b4363e;
    }
  }
  .contentTable {
    width: 100%;
    .contentRow {
      padding: 8px 0px;
      border-top: 1px solid #f1f1f1;
      &:last-child {
        border-bottom: 1px solid #f1f1f1;
      }
      p {
        display: inline-block;
        @include set-font(16px, $march-black);
      }
      .rightSection {
        width: 90%;
        display: inline-block;
      }
      .contentsTitle {
        cursor: pointer;
      }
      .contentNumber {
        display: inline-block;
        vertical-align: top;
        width: 10%;
      }
      .bottomSection {
        @include clearfix();
        .tag {
          float: left;
          @include set-font(16px, $rayon-berry, $fontweight-bold);
          &.borrower {
            color: #046d86;
          }
          &.lender {
            color: #b4363e;
          }
          &.rejected {
            color: $rayon-deepgray;
          }
        }
        .timeColumn {
          float: right;
          font-size: 14px;
        }
      }
    }
  }
}
