@import '~assets/partial';

.contentContainer {
  .goBackTitle {
    margin-top: 6px;
    font-size: 18px;
  }

  .message {
    margin-bottom: 24px;
    .messageBody {
      position: relative;
      margin-top: 20px;
      margin-bottom: 9px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f1f1f1;
      .messageType {
        padding-bottom: 5px;
        border-bottom: 1px solid #f1f1f1;
        @include set-font(16px, $rayon-lake);
        &.borrower {
          color: $rayon-lake;
        }
        &.lender {
          color: $rayon-berry;
        }
      }

      .tag {
        display: inline-block;
        padding: 3px 12px;
        border-radius: 14px;
        margin-right: 5px;
        margin-bottom: 8px;
        &.borrower {
          color: $rayon-lake;
          border: 1px solid $rayon-lake;
        }
        &.lender {
          color: $rayon-berry;
          border: 1px solid $rayon-berry;
        }
      }

      .complete {
        text-align: center;
        .note {
          text-align: center;
          font-size: 18px;
          color: blue;
          margin-bottom: 20px;
        }
        .link {
          text-align: center;
          font-size: 24px;
          color: red;
        }
      }
    }
    .messageBtn {
      margin: 0px 0px 0px auto;
    }
  }
}

.offerModalInput {
  margin-top: 12px;
}

.sendOfferBtn {
  margin: 24px auto 0px;
}
