@import '~assets/partial';

.contentContainer {
  .topMain {
    text-align: center;
    margin-top: 40%;
    img {
      width: 150px;
    }
  }
  .signUp {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 34px;
    text-align: center;
    .signUpButton {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      border: 1px solid $rayon-lake;
      border-radius: 4px;
      @include set-font(16px, $rayon-lake);
    }
  }
  .displayBtn {
    margin-bottom: 10px;
    .borrowerBtn,
    .lenderBtn {
      display: inline-block;
      width: 49%;
      padding: 12px 0px;
      color: white;
      border-radius: 4px;
    }
    .borrowerBtn {
      margin-right: 2%;
      background-color: $rayon-lake;
    }
    .lenderBtn {
      background-color: $rayon-berry;
    }
  }
}
