@import '~assets/partial';

.commonInputText {
  padding-bottom: 5px;
  border-bottom: 2px solid $rayon-lightgray;
  .title {
    display: inline-block;
    width: 30%;
    @include set-font(14px, $rayon-deepgray);
  }
  .textInput {
    display: inline-block;
    width: 70%;
    font-size: 16px;
    border: none;
  }
}
