@import '~assets/partial';
.formGroup {
  position: relative;

  & + .formGroup {
    margin-top: 30px;
  }
}

.formLabel {
  position: absolute;
  left: 0;
  top: 10px;
  color: $march-lightgray;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .formLabel {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.formInput {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  @include set-font(18px, $march-black);
  &:focus {
    box-shadow: 0 2px 0 0 $march-blue;
  }
}
