@import '~assets/partial';
.tagCheckBox {
  margin-bottom: 20px;
  .title {
    margin-bottom: 10px;
    @include set-font(14px, $rayon-deepgray);
  }
  input {
    display: none;
  }
  .checkBox {
    display: inline-block;
    .checkBoxLabel {
      display: inline-block;
      padding: 4px 12px;
      margin-right: 5px;
      margin-bottom: 8px;
      border-radius: 14px;
      font-size: 12px;
      transition: all 0.1s linear;
      cursor: pointer;
      &.borrower {
        border: 1px solid $rayon-lake;
        color: $rayon-lake;
      }
      &.lender {
        border: 1px solid $rayon-berry;
        color: $rayon-berry;
      }
    }
  }
  .selected {
    .checkBoxLabel {
      &.borrower {
        border: 1px solid $rayon-lake;
        background-color: $rayon-lake;
        color: white;
      }
      &.lender {
        border: 1px solid $rayon-berry;
        background-color: $rayon-berry;
        color: white;
      }
    }
  }
}
