@import '~assets/partial';

.arrayTabView {
  display: flex;
  flex-direction: row;
  &.borrower {
    background-color: $rayon-lake;
  }
  &.lender {
    background-color: $rayon-berry;
  }
  .tab {
    padding: 5px 0px;
    flex: 1;
    text-align: center;
    opacity: 0.68;
    @include set-font(14px, white);
    &.activated {
      color: white;
      opacity: 1;
      border-bottom: 3px solid white;
    }
    .link {
      width: 100%;
    }
  }
}
