@import '~assets/partial';
.topBanner {
  height: 300px;
  background: linear-gradient(to bottom right, $march-blue 0%, #0084dd 100%);
  .contentContainer {
    height: 100%;
    position: relative;
    .title {
      margin-bottom: 10px;
      @include set-font(36px, white, $fontweight-bold);
    }
    .description {
      @include set-font(18px, white, $fontweight-regular);
    }
    img {
      transform: rotate(-25deg);
      @include pos-abs(initial, 0px, 60px, initial);
    }
  }
}
