@import '~common/asset/partial';

.tag {
  display: inline-block;
  padding: 3px 12px;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
  margin-bottom: 8px;
  font-size: 12px;
}
